<h2>Welcome to Pizza Shop </h2>

<div class="row">
    <% @products.each do |p| %>
    <div class="col-md-3">
        <div>
            <%= p.title %>
        </div>

        <div>
            <img src= "<%= p.path_to_image %>" length="100" width="100" />
        </div>

        <div>
            <%= p.description %>
        </div>

        <div>
            SIze: <%= p.size %> sm
        </div>
        
        <div>
            Price: <%= p.price %> ¥
        </div>

        <div>
            Spice:<%= p.is_spicy%>
        </div>
        
        <div>
            Vegan: <%= p.is_veg%>
        </div>

        <div>
            Best offer: <%= p.is_best_offer%>
        </div>

        <div>
            <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
        </div>
    </div>
    <% end %>
</div>
<br />
<br />
<button class= "btn btn-primary" onclick="something()">Click me!</button>

